.game-board{ 
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    justify-content: center;
   }

   .box {
    background-color: #d9d9d9;
    border: 2px solid black;
   }
   
   #blue{
    background-color: blue;
   }

.shooter{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    justify-content: center;
}

.pictures{
    /* grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px; */
    width: 100px;
    height: 100px;
}